<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >

      <uses-feature android:name="android.hardware.microphone" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.MICROPHONE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
</manifest>
